<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" cntent="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Uso de chatbots</title>
</head>
<body>
    <div class="container">
        <h1>CHATBOTS</h1>
        <h3>Chatbots Online</h3>
        <a class="btn btn-primary" href="/chatGroq">Chat con Groq</a>
        <h3>Chatbots Offline</h3>
        <a class="btn btn-primary" href="/chatOllama">Chat con Ollama</a>
        <a class="btn btn-primary" href="/chatOllamaStream">Chat con Ollama Stream</a>
        <br>
        <a class="btn btn-secondary mt-3" href="/chatOllamaMemoriaLP">Chat con Ollama Memoria a Largo Plazo</a>
    </div>
</body>
</html>
